.row{'style' => 'margin-top: 20px;'}
  .col-sm-push-6.col-sm-5.text-center
    = image_tag "avatars/#{@user.avatar}", width: '250px', height: '250px', alt: "#{@user.firstname} #{@user.lastname}", class: 'img-circle'

  .col-sm-pull-4.col-sm-5.text-center
    %div{'style' => 'margin-top: 40px'}
      %h2
        %em= "#{@user.firstname} #{@user.lastname}"

      %br
      %br

      %table.table.table-bordered.table-hover
        %tr
          %td.col-md-12.col-xs-12
            Status:
            - if @status == 'Newbie'
              %span{'style' => 'color: green'}
                = @status
              = "(#{pluralize(@user.reviews.count, 'review')})"
            - elsif @status == 'Amateur'
              %span{'style' => 'color: blue'}
                = @status
              = "(#{pluralize(@user.reviews.count, 'review')})"
            - else
              %span{'style' => 'color: red'}
                = @status
              = "(#{pluralize(@user.reviews.count, 'review')})"
        %tr
          %td.col-md-12.col-xs-12
            Email:
            = @user.email
        - if @user.last_sign_in_at.present?
          %tr
            %td.col-md-12.col-xs-12
              Last sign in at:
              = @user.last_sign_in_at.strftime("%F %T")
        %tr
          %td.col-md-12.col-xs-12
            Account created at:
            = @user.created_at.strftime("%F %T")

- if @user.reviews.any? && @user.products.any?
  %br
  .row
    .col-md-5.col-md-offset-1.col-xs-12.user_headers
      %h3.text-center.bg-info Products
      - @user.products.order(created_at: :desc).limit(5).each do |p|
        %h5
          Created at:
          = p.created_at.strftime("%d %b. %Y")
        %h4
          Title:
          %em= p.title
          \&nbsp;
          |
          \&nbsp;
          Price:
          = p.price
        %h5
          - if p.description.length > 100
            = truncate(p.description, length: 100)
            = link_to '...read more', '', class: "read-more-desc-#{p.id}"

            :javascript
              $(".read-more-desc-#{p.id}").on('click', function(e) {
                e.preventDefault()
                $(this).parent().html("#{p.description}")
              })

          - else
            = p.description
        %hr

    .col-md-5.col-xs-12.user_headers
      %h3.text-center.bg-success Reviews
      - @user.reviews.limit(5).each do |r|
        %h5
          Created at:
          = r.created_at.strftime("%d %b. %Y")
          %span{'style' => 'float: right'}
            = show_star(r.rating)
        %h4
          Product:
          = link_to r.product.title, category_product_path(r.product.category, r.product)
        %h5
          - if r.content.length > 100
            = truncate(r.content, length: 100)
            = link_to '...read more', '', class: "read-more-content-#{r.id}"

            :javascript
              $(".read-more-content-#{r.id}").on('click', function(e) {
                e.preventDefault()
                $(this).parent().html("#{r.content}")
              })

          - else
            = r.content
        %hr

- elsif @user.reviews.any?
  %br
    .row
      .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.user_headers
        %h3.text-center.bg-success Reviews
        - @user.reviews.limit(5).each do |r|
          %h5
            Created at:
            = r.created_at.strftime("%d %b. %Y")
            %span{'style' => 'float: right'}
              = show_star(r.rating)
          %h4
            Product:
            = link_to r.product.title, category_product_path(r.product.category, r.product)
          %h5
            - if r.content.length > 100
              = truncate(r.content, length: 100)
              = link_to '...read more', '', class: "read-more-content-#{r.id}"

              :javascript
                $(".read-more-content-#{r.id}").on('click', function(e) {
                  e.preventDefault()
                  $(this).parent().html("#{r.content}")
                })

            - else
              = r.content
          %hr
- elsif @user.products.any?
  %br
    .row
      .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.user_headers
        %h3.text-center.bg-info Products
        - @user.products.order(created_at: :desc).limit(5).each do |p|
          %h5
            Created at:
            = p.created_at.strftime("%d %b. %Y")
          %h4
            Title:
            %em= p.title
            \&nbsp;
            |
            \&nbsp;
            Price:
            = p.price
          %h5
            - if p.description.length > 100
              = truncate(p.description, length: 100)
              = link_to '...read more', '', class: "read-more-desc-#{p.id}"

              :javascript
                $(".read-more-desc-#{p.id}").on('click', function(e) {
                  e.preventDefault()
                  $(this).parent().html("#{p.description}")
                })

            - else
              = p.description
          %hr
- else
  %br
  %h3.text-center
    %span.bg-info{'style' => 'padding: 10px; line-height: 45px'}
      User doesn't have any reviews neither products.

- if user_signed_in?
  - if current_user == @user
    .row
      .col-md-8.col-md-offset-2.col-xs-8.col-xs-offset-2{'style' => 'margin-top: 20px'}
        %h3
          Dissatisfied with the account?
          \&nbsp;
          = link_to 'Edit it', edit_user_registration_path(current_user), class: 'btn btn-info', style: 'font-size: 1em'

.row
  .col-md-8.col-md-offset-2.col-xs-8.col-xs-offset-2{'style' => 'margin-top: 20px'}
    %h5
      or
      \&nbsp;
      = link_to 'Back', root_path, class: 'btn btn-primary'