.row
  = simple_form_for [category, product, review] do |f|

    = f.input :content, as: :text
    .col-md-6.col-xs-3{'style' => 'padding: 0'}
      = f.input :rating, collection: 1..5, include_blank: false, selected: 5
    .clearfix
    = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    = f.input :product_id, :as => :hidden, :input_html => { :value => product.id }
    = f.button :submit, 'Save', class: 'btn btn-default'