!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %span.navbar-brand#logo_off #{AppConfig.workshops_name}
          %span.navbar-brand#logo_on= link_to image_tag('Logo.png', alt: 'Netguru Gliwice Workshops 2015'), root_path
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to image_tag("avatars/#{current_user.avatar}", width: '25px', height: '25px', alt: "#{current_user.firstname} #{current_user.lastname}", class: 'img-rounded') + " Profile",show_user_path(current_user)
              %li{'style' => 'display: table'}
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-log-out{'style' => 'font-size: 1.8em; vertical-align: middle; display: table-cell'}
                  %span{'style' => 'display: table-cell; vertical-align: middle;'}
                    \&nbsp;
                    Log Out
            - else
              %li{'style' => 'display: table'}
                = link_to new_user_registration_path do
                  %span.glyphicon.glyphicon-user{'style' => 'font-size: 1.6em; vertical-align: middle; display: table-cell'}+
                  %span{'style' => 'display: table-cell; vertical-align: middle;'}
                    \&nbsp;
                    Sign Up
              %li{'style' => 'display: table'}
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-log-in{'style' => 'font-size: 1.8em; vertical-align: middle; display: table-cell'}
                  %span{'style' => 'display: table-cell; vertical-align: middle;'}
                    \&nbsp;
                    Sign In
    .container
      = yield

    - flash.each do |key, value|
      - key = 'warning' if key == 'alert'
      = js add_gritter(value, flash[key], :image => key)